---
import iconHTML from '../icons/HTML.astro'
import iconReact from '../icons/ReactJs.astro'
import iconFirebase from '../icons/Firebase.astro'
import iconCss from '../icons/Css.astro'
import iconAstro from '../icons/AstroIcon.astro'
import iconTailwind from '../icons/Tailwind.astro'
import iconPhotoshop from '../icons/Photoshop.astro'
import iconIllustrator from '../icons/Illustrator.astro' 
    const tagsIcon = {
        HTML: {
            name: "HTML",
            icon: (iconHTML),
            class: ""
        },
        REACTJS: {
            name: "ReactJs",
            icon: (iconReact),
            class: ""
        },
        FIREBASE: {
            name: "Firebase",
            icon: (iconFirebase),
            class: ""
        },
        CSS: {
            name: "CSS",
            icon: (iconCss),
            class: ""
        },
        ASTRO: {
            name: "Astro",
            icon: (iconAstro),
            class: ""
        },
        TAILWIND: {
            name: "Tailwind Css",
            icon: (iconTailwind),
            class: "bg-[#003159] text-white"
        },
        PHOTOSHOP: {
            name: "Photoshop",
            icon:  (iconPhotoshop),
            class: ""
        },
        ILLUSTRATOR: {
            name: "Illustrator",
            icon: (iconIllustrator),
            class: ""
        }
    }
    /* Projects */
    const Proyects = [
        {
            date: '2023',
            type: 'Web',
            title: 'The Trainig Wiki',
            img: '../src/imgs/project1.png',
            link: 'https://thetrainingwiki.netlify.app',
            tags: [tagsIcon.REACTJS]
        },
        {
            date: '2022',
            type: 'Web',
            title: 'Dionel Shop',
            img: '../src/imgs/project3.png',
            link: 'https://dionel-shop.netlify.app',
            tags: [tagsIcon.REACTJS, tagsIcon.FIREBASE]
        },
        {
            date: '2022',
            type: 'Web',
            title: 'Moon Guitars',
            img: '../src/imgs/project2.png',
            link: 'https://moonguitars.netlify.app',
            tags: [tagsIcon.HTML , tagsIcon.CSS]
        },
        {
            date: '2024',
            type: 'Web',
            title: 'Make you CV',
            img: '../src/imgs/project4.png',
            link: 'https://make-you-cv.netlify.app',
            tags: [tagsIcon.ASTRO, tagsIcon.TAILWIND]
        },
        {
            date: '2024',
            type: 'Speed Art',
            title: 'World War 2',
            img: '../src/imgs/project5.png',
            link: 'https://www.behance.net/gallery/188824105/World-War-2-Speed-Art',
            tags: [tagsIcon.PHOTOSHOP]
        },
        {
            date: '2024',
            type: 'Graphic Design',
            title: 'Ironwrap',
            img: '../src/imgs/project6.png',
            link: 'https://www.behance.net/gallery/189840909/Iron-Wrap-Empretienda-Design',
            tags: [tagsIcon.ILLUSTRATOR, tagsIcon.PHOTOSHOP]
        }
]

---

<div class="grid grid-cols-2 sm:grid-cols-3 gap-x-12 gap-y-6">
    {Proyects.map(({img, link, date, title, type, tags}) => (
            <main class="flex">
        <a href={link} class="link flex flex-col justify-center" target="_blank">   
        <img src={img} class="absolute w:[140px] h:[120px] sm:w-[224px] sm:h-[180px] bg-cover bg-center rounded-md brightness-75 saturate-100 contrast-75"/>
            <div class="sm:p-4 ml-2 sm:ml-0 relative">
                <p class="font-thin line text-xs sm:text-sm leading-3 ">{date}</p>
                <h3 class="text-yellow-200 font-semibold leading-12 text-[12px] sm:text-1xl">{title}</h3>
                <p class="text-white font-regular leading-3 text-[10px] sm:text-sm text-pretty">{type}</p>
                
                <ul class="flex relative justify-center items-center mt-2 sm:mt-20">
                    {tags.map(tag => (
                        <li class="text-[7px] sm:text-xs text-pretty ">   
                            <span class="flex sm:gap-x-2 items-center px-2">
                                <tag.icon class={`size-2 sm:size-3 ${tag.class}`}></tag.icon>
                                {tag.name}
                                </span>
                                </li>
                                ))}
                                </ul>
            </div>
                
        </a>
        </main>
        ))}
</div>
<div class="grid justify-center mt-10">
    <a class= "all-projects" href="https://www.behance.net/mdiannibelli" target="_blank"><button class="rounded-md py-1 pr-4 pl-4 cursor-pointer text-white border-none text-sm font-family: system-ui,sans-serif font-semibold">See all my projects</button></a>
</div>

<style>

    .all-projects:hover {
        color: rgba(113,71,255);
    
    }
    button {
        background-color: rgba(113,71,255);
        transition-timing-function: cubic-bezier(.4,0,1,1);
        transition-duration: .15s;
    }
    
    button:hover {
        background-color: rgba(61,29,146);
        transition-timing-function: cubic-bezier(.4,0,1,1);
        transition-duration: .15s;
    }

    .link {
        position: relative;
        overflow: hidden;
        transition: width 0.3s, opacity 0.3s, transform 0.3s;
        width: 224px;
        height: 180px;
        opacity: 0.6;
    }

    .link:hover {

        opacity: 1;
        transform: scale(1.1);
    }
    h3 {
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    }

</style>